.body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display:flex;
  flex-direction:column;
}


main{
  display:flex;
  width:80vw;
  justify-self:center;
}

.rjm{
  transform:scale(1.0);
  color:orange;
  transition:all .65s ease-in-out;
  text-decoration:none;
}
  .rjm:hover{
    transform:scale(1.05);
    text-decoration:none;
    color:white;
    text-shadow: 0px 1px 20px rgba(150,150,150,0.77);
    transition:all .65s ease-in-out;
  }

a{
  text-decoration:none;
}

a:hover{
  text-decoration:none;
}

img{
  border-radius:7px;
  box-shadow:2px 1px 25px 1px black;
}

input{
  position:fixed;
}
